body{
  overflow-x: hidden;
}  
.nert{
  display: flex;
  position: sticky;
  top: 0px;
  z-index: 1;
}
.rat{
  margin-left: 600px;
 }
 .mit{
  color: white !important;
 }
    
    .remem{
   background-color: #111111;

  
 }
 .nop{
  color: white;
 }
 .about{
  color: #E5E7EB;
 }
 .her{
  background-color: #313131 ;
  border-color: #242020 !important;
 }

 
    .cal{
     font-weight: 900;
     
    }
    .rope{
    text-shadow: 2px 2px  red;
    color: rgb(209, 210, 221);
    font-family: serif;
    font-size: 20px;
    }
  
  .mal{
     word-spacing: 20px;
   
     }
     .coner{
      animation: slideFromLeft 2s ease forwards ;
       
     }
     .contemn{
      animation: slideFromRight 2s ease forwards;
       
     }
     .cont{
     font-size: 120px;
     font-weight: bolder;
     color: rgb(214, 19, 19);
     font-family: serif;
     text-shadow: 5px 5px rgb(250, 240, 240);
     }
    .imege{
      transition: width 3s, height 4s;
      transition-delay: 1s;
    }
    .drive{
      font-size: 50px;
      font-weight: 900;
      font-family: arial;
      color: whitesmoke;
    }
    .nov{
     background-color: #FFFFFF;
     border: 1px solid #E5E7EB;
     color: #374151;

       
    }
    .head{
      font-weight: 800;
      color: black;
    }
    .men{
      color: #C00000;

    }
    .footer{
      background-color: black;
      color: white;
    }
    .ron{
      word-spacing: 20px;
    }
    .social-icons a {
  color: #fff;
  font-size: 25px;
  
  margin: 0px 10px;
  transition: 0.3s;
}
.social-icons{
  word-spacing: 50px;
}

.social-icons a:hover {
  color: #f39c12;  
  transform: scale(1.2);
}

     .imege:hover{
    width: 450px;
    height: auto;
  }
  @keyframes slideFromLeft {
    from{
      transform: translatex(-100%);  
     } to { transform: translatex(5%);

    }
  }

    @keyframes slideFromRight {
      from {
        transform: translatex(100%);
      }to {
        transform: translatex(-15%);
      }
    

  }
  

  @media (max-width: 480px){
     
   .mal{
       word-spacing: 30px;
        
   }
    
   .rope{display: none;}
   .ben img{
    display: none;
   }
    
   .fle {
    display: block;
   }
  .cont{
    font-size: 20px;
    animation: none;
  }
  .contemn{
     
    display: none;
  }
   .drive{
      font-size: 15px;
    }
    .mal{
      font-size: 13px;
    }
    .cont{
   text-shadow: 1px 1px  white;
  }

  }
  @media (min-width:650px) {
    .bike{
      display:none;
      
    }
    .nem img{
      height: 400px;
    }
    .ber{
      height: auto;
      width: 300px;
    }
    .nov{
       line-height: 30px;
    }
  
  }
  @media(max-width:1000px){
    .rat{
      margin-left: 0px;
    }
     }
  